
.light-theme {
    background-color: #FFFFFF;
    color: #000;
  }
  
  .light-theme:hover {
    color: #000;
  }

html {
    scroll-behavior: smooth; 
}
* {
    background-color: black;
    box-sizing: border-box;
  
}

  
  .light-theme:hover {
    color: #000;
  }


.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-logo {
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
    
}


.header-logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
  }

.header-nav {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 50px;
display: flex;
flex-wrap: wrap;

justify-content: flex-end;
align-items: center;
list-style: none;
margin-left: auto;
background-color:transparent;
margin-top: -50px;
margin-right: 20px;
padding-right: 10px;

}



.header-switch-buttons {
    background-color: transparent;
    color: #FFFFFF;
    
}
.buttons:hover {
    color:#BDAE82;
}
.buttons {
    color: #FFFFFF;
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
background-color: transparent;
width: 30px;
height: 50px;
border: none;
}




.nav-item {
    background-color:transparent;
}
.header-container {
    background: url('./assets/img/bg.jpg');
    height: 90px;
    
    background-repeat: no-repeat;
    background-position: center 0;
 
   
}

.hero-container {
    background: url('./assets/img/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    
    height: 910px;
    padding-top:30px;
}


.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    color: #FFFFFF;
    text-decoration: none;
    background-color: transparent;
    margin-top: -40px;
}


.nav-link:hover {
    
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
        contrast(87%);
    

}


.hero-title {
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 120px;
color: #FFFFFF;
background-color:transparent;
margin-left: 60px;
margin-top: 110px;
}




.hero-text {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
color: #FFFFFF;
white-space: normal;
background-color:transparent;
width: 470px;
height: 120px;
margin-left: 60px;
margin-top: -30px;


}




.section-hero {
    
    background-color:transparent;
}
.hero-button {
    width: 220px;
    height: 55px;
    background: #BDAE82;
    border-radius: 0px;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
text-align: center;
cursor: pointer;
color: #000000;
font-family: inherit;
margin-left: 60px;
margin-top: 5px;
}

.hero-button:hover {
    
    color: #FFFFFF;
}

.btn:hover {
    color: #FFFFFF;
}

.heading-container {
    position: relative;
   width: 1400px;
 
    }

    .title-section-skills {
        font-family: Merriweather;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
          color: #BDAE82;
          text-align: center;
          font-size: 30px;
          position: relative;
        background-color: black;
    }
        
        
        

        



.skills-item {
    padding-top: 5%;
    padding-right: 40px;
}


.skills-heading {
    font-family: Inter;
font-style: normal;
font-weight: bold;
font-size: 20px;
color: #FFFFFF;
white-space: nowrap;
width: 6em;
padding-top: 10%;

}

.camera-heading {
    margin-left: -20%;
} 

.video-heading {
    margin-left: -20%;
}


.skills-text {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: #FFFFFF;
width: 280px;
height: 72px;
padding-top: 20px;
margin-left: -34.7%;
line-height: 36px;
text-align: center;



}


.skills-container {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    display: flex;
    max-width:1440px;
     flex-wrap: wrap;
     margin-left: 20px;
     

}





.title-section-portfolio {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
      color: #BDAE82;
      text-align: center;
      font-size: 30px;
      position: relative;
    background-color: black;
    margin-top: 300px;

}
    
    
    
        

        


.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    flex-wrap: wrap;
   

}


.portfolio-btn{
    width: 220px;
height: 55px;
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;
text-align: center;
color: #BDAE82;
border: 2px  solid#BDAE82;
padding: 8px 70px 7px 69px;


}

.portfolio-btn:hover {
    background-color: #BDAE82;
    color: #000000;
}

.portfolio-container {
    display: flex;
   max-width:1440px;
    flex-wrap: wrap;
    margin-left: 20px;
    gap: 25px;
    margin:0 auto;
 
}

.item-portfolio-container {
    width: 450px;
    height: 560px;
}




.title-section-video {
    margin-top: 100px;
    padding-bottom: 60px;
    
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
      color: #BDAE82;
      text-align: center;
      font-size: 30px;
      position: relative;
    background-color: black;
}
    
    
    

    



.btn-video-player {
    position: absolute;
    background: transparent;
    border: none;

}





.video-player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}


.video-player-icon {
    background: transparent;
    
}


.section-video {
    position: relative;
    width: 100%;
    margin: 0 auto;

}


.title-section-price {
    margin-top: 100px;
    padding-bottom: 60px;
    
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
      color: #BDAE82;
      text-align: center;
      font-size: 30px;
      position: relative;
    background-color: black;
}
    
    







.price-container{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;

}


.price-item {
    width: 450px;
    height: 505px;
    border: 1px solid #BDAE82;
}


.title-price-item {
    font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 56px;
/* identical to box height, or 200% */

text-align: center;

color: #FFFFFF;

}

.price-price-item {
    font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 48px;
/* identical to box height, or 200% */

text-align: center;

color: #BDAE82;
}


.text-price-item {
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

text-align: center;

color: #FFFFFF;
display: block
}


.btn-price-item {
    width: 220px;
    min-height: 55px;
    background: #BDAE82;
    border-radius: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: #000000;
    padding: 8px 39px 7px 39px;
    margin-left: 110px;
    margin-top: 54px;
    
}


.bg-section-contacts {
    background-image: url(assets/img/bg-contacts.png);
    max-height: 700px;
   max-width: 1400px;
   margin-top: 130px;
}



.title-section-contacts {
    font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 80px;
/* identical to box height, or 200% */
background-color:transparent;
color: #BDAE82;



}


.container-feed-contacts {
    display: flex;
    flex-direction: column;
    padding-left: 60%;
    background-color:transparent;
    padding-top: 1.8%;
}


.contacts {
    color: #BDAE82;
    padding: 5px 226px 5px 20px;
    width: 450px;
    height: 50px;
    background-color:  transparent;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 40px;

}





.text-section-contacts {
    width: 450px;
    height: 100px;
    resize: none;
}


.email-section-contacts {
    margin-bottom: 20px;
    border: 2px solid#BDAE82;
}


.tel-section-contacts {
    margin-bottom: 20px;
    border: 2px solid#BDAE82;
}

.text-section-contacts{
    margin-bottom: 20px;
    border: 2px solid#BDAE82;
}


.btn-section-contacts {
    width: 220px;
    height: 55px;
    background: #BDAE82;
    border-radius: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: #000000;
    padding: 8px 40px 7px 40px;
    white-space: nowrap;
    
}

.year-footer-container {
    display: flex;
 
}

.item-year-footer-container {
    padding-right: 20px;
}
.data-footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 20px;
padding-top: 70px;
}


.social-list-footer-container > a:hover {
    background-color: #CCBA8D;
}

.footer {
    color: white;
    max-width: 1440px;
    height:150px;
    background-color: black ;
}

.mobile-nav {
    display:none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 1024px;
    z-index: 98;
    background-color: black;
    transition: 0.4s;
}


.mobile-nav.is-active {
    left: 0;
    display:none;
}

.mobile-nav-link {
    display: block;
    color: white;
    font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 35px;
line-height: 73px;
/* identical to box height, or 207% */
color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    background-color:  black;
}
.hamburger {
z-index: 110;
    position: absolute;
    display:none;
    width: 50px;
    height:25px;
    margin: 20px auto;
    cursor: pointer;
    appearance: none;
    background:none;
    outline:none;
    
    
    
}


@media screen and (max-width: 768px) {



    .header-switch-buttons {
        margin-right: 20%;
    }

    .hero-title{
        margin-left:0;
    }

    .hero-text {
        margin-left: 0;
        height: 200px;
        width: auto;
    }
    .hero-button {
        margin-left: 0;
    }
    .mobile-nav {
        display: block;
        position: absolute;
        top: 0;
        right:-120.5px;
        width: 620px;
        height: 500px;
        z-index: 98;
        background-color: black;
        transition: 0.4s;
        
        
    }
    
    
    .mobile-nav.is-active {
        left: 0;
    }
    
    .mobile-nav-link {
        display: block;
        color: white;
        font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 73px;
    /* identical to box height, or 207% */
    color: #FFFFFF;
        text-align: center;
        margin-bottom: 16px;
        padding: 12px 16px;
        background-color:  black;
    }
    .hamburger {
    
        position: relative;
        display: block;
        width: 50px;
        height:25px;
        margin-left: 80%;
        margin-top: -20px;
        cursor: pointer;
        appearance: none;
        background:none;
        outline:none;
     
        
        
    }
  
.hamburger .bar,.hamburger:after,.hamburger:before {
    content: '';
    width: 100%;
    height: 5px;
    background-color: #FFFFFF;
    margin: 6px 0px;
    transition: 0.4s;
    display: block;
    
    
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
    }
    .hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
    }


.hamburger.is-active .bar {
opacity: 0;
}



    
.nav-item
    {
        position: absolute;
        z-index: 1;
        display: none;
        right: -768px;
        transition: 0.5s; 
        
    }

    .skills-container {
        margin-left: 400px;
    }
    .btn-price-item  {
        margin-right: 200px;
    }
    .video-player {
        width: 100%;
    }

    .title {
        margin-left: -84.1%;
    }

    .price-container {
        margin-left: -30%;
    }

    .container-feed-contacts {
        margin-left: -58.4%;
    }

    .bg-section-contacts {
        width : 100%;
    }
    .footer {
        width: 100%;
        height: auto;
    }


}